<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server" value=""  />
		<add key="port" value="" />
		<add key="usessl" value="false" />
		<add key="user" value="" />
		<add key="password" value="" />
		<add key="clientcert" value="" />
		<add key="clientcertpassword" value="" />
	</appSettings>
</configuration>